@import url("https://fonts.googleapis.com/css2?family=Tomorrow:wght@600&display=swap");
body {
  background-color: #14172b;
  color: white;
  font-family: "Tomorrow", sans-serif;
  height: 100vh;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  position: fixed;
  top: 90px;
  left: 20px;
}
.heading > img {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
.card-list-wrapper {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: flex-start;
  margin-left: 450px;
}
